@model int
    
        <div class="card-title text-light">
            There are <span class="font-weight-bold"> @Model</span> resturants here <a asp-page="/Resturants/List"> visit them here </a>
        </div>
        
